# Data Cleaning

In this notebook we will dump all the tweets file into a consolidated pickle file compress so that we can load it there for further analysis. We Have 3 Main samples of Data which we have to store. First, We have Data from January 2021; Second, October 2021; and finally, From April 28 to June 30.

Each of this samples corresponds to a Particular moment relevant for the analysis. Octaber data is used for the anaylisis of our community during election periods. October 2019 is the month of the regional elections in Colombia. January 2021 corresponds is 3 months before the so called "Paro Nacional". This can let us track aour community before the social out break. Finally we have the time of the "Paro Nacional" Which will be the center of our analysis.

This Notebook has 3 Chapters.
1. Concatenate Users:

    1.1. January 2021

    1.2. October 2019

    1.3. Paro Nacional

    1.4. Tweets Lite
    
2. Save Results
3. Conclusion

In [1]:
import os
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm

In [2]:
path = r"/mnt/disk2/Data"
os.listdir(path)

['Daily_graphs',
 'Matrices_DayToDay',
 'XD',
 'Graphs_2',
 'Matrices',
 'nodes.csv',
 'RawData',
 'Pickle',
 'Graphs',
 'Tweets_DataFrames']

## 1. Concatenate Users

### 1.1. January 2021

We identify two users with their file corrupted: Usuario_82383620 and Usuario_2526574133

In [4]:
# We create an empty aux list that will store the tweets.
tweets_aux = []
files_jan = glob(os.path.join(path, "RawData/users_jan/*.csv"))

for file in tqdm(files_jan):
    tweets_aux.append(pd.read_csv(file))

  0%|          | 0/34048 [00:00<?, ?it/s]

100%|██████████| 34048/34048 [02:15<00:00, 250.38it/s]

In [5]:
# Finally, the tweet dataframe is established and tweets_aux is deleted.  
tweets_jan = pd.concat(tweets_aux)
del tweets_aux
tweets_jan = tweets_jan.sort_values('ID').reset_index(drop = True)

# We check the DataFrame
print('Shape: ',tweets_jan.shape)
tweets_jan.head()

/tmp/ipykernel_651152/3596521889.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  tweets_jan = pd.concat(tweets_aux)

Shape:  (5893802, 25)

,ID,Permalink,Author ID,Author Name,Author Location,Author Description,Author Followers,Author Following,Author Tweets,Author Profile Image,...,Favorites,Quotes,is Retweet?,Reply To User Name,Mentions,Referenced Tweet,Reference Type,Referenced Tweet Author ID,Media URLs,Media Keys
0,1349944398524649474,/andriu0818/status/1349944398524649474,882785899293102081,andriu0818,"Bogotá, D.C., Colombia",Estudiante- Ingenieria de Sistemas y amante de...,132,691,27934,https://pbs.twimg.com/profile_images/147816881...,...,0,0,False,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/tweet_video_thumb/Erv3RS...,16_1349944389666283521
1,1349944399233486849,/diarioas/status/1349944399233486849,7996522,diarioas,Madrid,El twitter de https://t.co/eL5Le5sRNz. Sigue e...,3270759,885,633491,https://pbs.twimg.com/profile_images/163378695...,...,15,0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1349944399384375296,/CaracolDeportes/status/1349944399384375296,473216817,CaracolDeportes,Colombia,Encuentre aquí las últimas noticias y toda la ...,372964,308,224542,https://pbs.twimg.com/profile_images/140265053...,...,10,0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1349944399682158596,/WRadioColombia/status/1349944399682158596,20560294,WRadioColombia,Colombia,Perfil oficial de W Radio en Colombia bajo la ...,4799835,213,785421,https://pbs.twimg.com/profile_images/130930867...,...,2,0,False,NaN,WomintCo,NaN,NaN,NaN,https://pbs.twimg.com/media/ErvgDzMXUAQKbPS.jpg,3_1349918869213892612
4,1349944399900401665,/EEopinion/status/1349944399900401665,14884514,EEopinion,Colombia,Las mejores columnas editoriales y de opinión ...,549639,53,121467,https://pbs.twimg.com/profile_images/999773151...,...,0,0,False,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/ErtHYAJXYAEFLfV.png,3_1349750991009308673

### 1.2. October 2021

In [30]:
# We create an empty aux list that will store the tweets.
tweets_aux = []
files_oct = glob(os.path.join(path, 'RawData/users_oct_19/*.csv'))

In [31]:
for file in tqdm(files_oct):
    tweets_aux.append(pd.read_csv(file))

100%|██████████| 25125/25125 [03:42<00:00, 112.96it/s]

In [32]:
# Finally, the tweet dataframe is established and tweets_aux is deleted.  
tweets_oct = pd.concat(tweets_aux)
del tweets_aux
tweets_oct = tweets_oct.sort_values('ID').reset_index(drop = True)

# We check the DataFrame
print('Shape: ',tweets_oct.shape)
tweets_oct.head()

/tmp/ipykernel_651152/1955038062.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  tweets_oct = pd.concat(tweets_aux)

Shape:  (5424132, 25)

,ID,Permalink,Author ID,Author Name,Author Location,Author Description,Author Followers,Author Following,Author Tweets,Author Profile Image,...,Favorites,Quotes,is Retweet?,Reply To User Name,Mentions,Referenced Tweet,Reference Type,Referenced Tweet Author ID,Media URLs,Media Keys
0,1183608368872734722,/la_informacion/status/1183608368872734722,18717943,la_informacion,Madrid,Un nuevo enfoque para la actualidad económica....,406180,2592,470174,https://pbs.twimg.com/profile_images/159787012...,...,0,0,False,NaN,jesusmargon,NaN,NaN,NaN,NaN,NaN
1,1183608369027923968,/Los40UrbanCo/status/1183608369027923968,149152428,Los40UrbanCo,Bogotá,Oxígeno Bogotá ahora es LOS40 Urban - 100.4FM ...,422997,286,105083,https://pbs.twimg.com/profile_images/154265304...,...,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1183608369317175297,/CaracolRadio/status/1183608369317175297,19236074,CaracolRadio,Colombia,¡Más compañía! | Primer lugar en noticias depo...,4153769,171,828765,https://pbs.twimg.com/profile_images/154992934...,...,7,0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1183608369321406464,/LaKalle/status/1183608369321406464,791800207,LaKalle,"Bogotá, D.C., Colombia",Escuche lo mejor de la música popular vallenat...,63114,391,96365,https://pbs.twimg.com/profile_images/143415800...,...,1,0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1183608369522737153,/NCBogota/status/1183608369522737153,786595851988631552,NCBogota,Bogotá D.C.,¡@NoticiasCaracol está de su lado en Bogotá!,24140,179,22339,https://pbs.twimg.com/profile_images/109870994...,...,0,0,False,NaN,universoSOFA,NaN,NaN,NaN,https://pbs.twimg.com/media/EGzYdmDW4AAdhnV.jpg,3_1183558805034033152

### 1.3. Paro Nacional: April 28 - June 30 2021

In this section of the Notebook we will create the dataframe for all the tweets between **April 28 of 2021** to **June 30 of 2021**. For this task, the dataframe we eant to construct is made from 28 pieces that are saved as ```.pkl``` files in the Data/Tweets_Dataframes/Tweets Folder

In [3]:
# We create an empty aux list that will store the tweets.
tweets_aux = []

files_v1 = glob(os.path.join(path, 'RawData/Usuarios_V1/*.csv'))

In [4]:
len(files_v1)

37324

In [5]:
# Run time: 10 minutes aprox
for file in tqdm(files_v1):
    tweets_aux.append(pd.read_csv(file))

 43%|████▎     | 15944/37324 [04:13<03:45, 95.01it/s] /tmp/ipykernel_746836/3203433731.py:3: DtypeWarning: Columns (6,8,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_aux.append(pd.read_csv(file))
 47%|████▋     | 17649/37324 [04:39<04:43, 69.34it/s] /tmp/ipykernel_746836/3203433731.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_aux.append(pd.read_csv(file))
 54%|█████▎    | 20027/37324 [05:16<04:30, 64.04it/s]/tmp/ipykernel_746836/3203433731.py:3: DtypeWarning: Columns (6,8,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_aux.append(pd.read_csv(file))
100%|██████████| 37324/37324 [09:41<00:00, 64.14it/s]

In [6]:
# Finally, the tweet dataframe is established and tweets_aux is deleted.
# Run time: 50 sec. aprox.  
tweets = pd.concat(tweets_aux)
del tweets_aux
# tweets = tweets.sort_values('ID').reset_index(drop = True)

In [7]:
# Finally, the tweet dataframe is established and tweets_aux is deleted.
# Run time: 50 sec. aprox.  
tweets = pd.concat(tweets_aux)
del tweets_aux

# We check the correct concatenation of the the Data Frame.
print(tweets.shape)
tweets.head()

(45330718, 26)

,ID,Permalink,Author ID,Author Name,Author Location,Author Description,Author Followers,Author Following,Author Tweets,Author Profile Image,...,Quotes,is Retweet?,Reply To User Name,Mentions,Referenced Tweet,Reference Type,Referenced Tweet Author ID,Media URLs,Media Keys,Unnamed: 0
0,1.410095e+18,/Resistenciahera/status/1410095246730485760,9.180596e+17,Resistenciahera,Cali,café adicto☕️☕️☕️☕️☕️ orgulloso de tener el co...,3181,4972.0,55097,https://pbs.twimg.com/profile_images/147008408...,...,0.0,True,NaN,JUANCAELBROKY,1.410065e+18,retweeted,1.419439e+08,https://pbs.twimg.com/ext_tw_video_thumb/14100...,7_1410064556207058948,NaN
1,1.410095e+18,/Resistenciahera/status/1410095063800111104,9.180596e+17,Resistenciahera,Cali,café adicto☕️☕️☕️☕️☕️ orgulloso de tener el co...,3181,4972.0,55097,https://pbs.twimg.com/profile_images/147008408...,...,0.0,True,NaN,ElParcheCritico ClaudiaLopez,1.410063e+18,retweeted,8.628063e+17,NaN,NaN,NaN
2,1.410094e+18,/Resistenciahera/status/1410093637279571970,9.180596e+17,Resistenciahera,Cali,café adicto☕️☕️☕️☕️☕️ orgulloso de tener el co...,3181,4972.0,55097,https://pbs.twimg.com/profile_images/147008408...,...,0.0,True,NaN,Estudianteslas1,1.410092e+18,retweeted,1.402301e+18,NaN,7_1410091724656029700,NaN
3,1.410093e+18,/Resistenciahera/status/1410093409419894787,9.180596e+17,Resistenciahera,Cali,café adicto☕️☕️☕️☕️☕️ orgulloso de tener el co...,3181,4972.0,55097,https://pbs.twimg.com/profile_images/147008408...,...,0.0,True,NaN,ma_camiladiaz elpais_america,1.410015e+18,retweeted,3.824198e+08,NaN,3_1410015253472202757,NaN
4,1.410093e+18,/Resistenciahera/status/1410093148932608006,9.180596e+17,Resistenciahera,Cali,café adicto☕️☕️☕️☕️☕️ orgulloso de tener el co...,3181,4972.0,55097,https://pbs.twimg.com/profile_images/147008408...,...,0.0,True,NaN,elespectador,1.409839e+18,retweeted,1.483430e+07,NaN,NaN,NaN

In [8]:
# Store results
# run sudo chmod 777 Data/Tweets_DataFrames in bash if it is needed
tweets.to_pickle(os.path.join(path, "Tweets_DataFrames/tweets_Usuarios_V1.gzip"), compression = "gzip")

### 4.1. Tweets Lite

In [ ]:
# Get just the columns that we need for the Graph construction
cols = ['Author ID',
        'Date',
        'Reference Type',
        'Referenced Tweet Author ID']
tweets_lite = tweets[cols]
tweets_lite.head()

## 2. Save Results

In [33]:
# Store results
# run sudo chmod 777 /mnt/disk2/Data/Tweets_DataFrames in bash if it is needed
tweets_jan.to_pickle(os.path.join(path, "Tweets_DataFrames/tweets_jan21.gzip"), compression = "gzip")

In [ ]:
# Store results
# run sudo chmod 777 Data/Tweets_DataFrames in bash if it is needed
tweets.to_pickle(os.path.join(path, "Tweets_DataFrames/tweets_Usuarios_V1.gzip"), compression = "gzip")

In [25]:
# Store results (Runtime 11 min aprox.)
# run sudo chmod 777 Data/Tweets_DataFrames in bash if it is needed
tweets_lite.to_pickle(os.path.join(path, "Tweets_DataFrames/tweets_lite.gzip"), compression = "gzip")

## 3. Conclusion

The output of this Notebook is listed Below

- **tweets_jan21.gzip**: Dataframe for the Tweets for our users during January of 2021. 3 Months before the social estallido

- **tweets_oct19.gzip**: Dataframe for the Tweets for our users during October of 2019. Regional elections Period

- **tweets_Usuarios_V1.gzip**: Dataframe for the tweets of our users between April 28 to June 30 of 2021

- **tweets_lite.pkl**: Lite version of **tweets_Usuarios_V1.gzip** that contains just the colmns needed for the graph construction. Which is Author ID, Reference Type, Date and Retweet Author